.custom-item {
  border-radius: 8px;
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-item:hover {
  background-color: rgb(121, 169, 183);
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
